<!DOCTYPE html>
<html>

<head>
  <title>shrtn v1</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <h1 class="display-4">shrtn</h1>
    <div class="input-group">
      <input id="url" class="form-control form-control-lg" type="text" placeholder="Your link" value="URL_GOES_HERE" />
      <div class="input-group-append">
        <button type="submit" id="copy" class="btn btn-primary" onclick="copyToClipboard()">
          Copy!
        </button>
      </div>
    </div>
    <a class="mt-4" href="/">Shorten more URLs</a>
  </div>

  <script>
    function copyToClipboard() {
      document.getElementById("url").select();
      document.execCommand("copy");
      document.getElementById("copy").classList.add("btn-success");
      document.getElementById("copy").textContent = "Copied!";
    }
  </script>
</body>

</html>
